extends ../plain
block content
  div.em-page-center-parent
    div.em-page-center
      div.container
        div.row
          div.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
            div.actionable#actionable-sign-in
              div.actionable-front.component-shadow(style="z-index: 3000;")
                div.panel
                  div.panel-body
                    div.text-center
                      img(class='profile-img img-circle',
                      src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
                      h3
                        strong Emerald
                        span.thin  Login

                    div.padded
                      form(class='form-signin', action='/signin/', method='POST' id='form-sign-in-demo')
                        p#login_status.text-danger.bg-danger-lt.panel-rounded.hidden(style='padding-left: 1em;')
                        div.form-group.email.required
                          input(type='text', name='username', class='string email required form-control',
                          placeholder='Email', autofocus, rel="jvfloat")

                        div.form-group.password.required
                          input(type='password', name='password' class='password required form-control',
                          placeholder='Password', required, rel="jvfloat")

                        div.form-group.actions
                          button.btn.btn-success-lt.btn-block.actionable-action(name="commit") Sign in

                        div.form-group
                          div.row
                            div.col-xs-6

                            div.col-xs.text-right
                              a(href='#') Forgot password?

                    div.text-center.form-group
                      | Don't have an account?
                      a(href='/singup')
                        strong  Sing Up

              div.actionable-back.component-shadow.bg-white.padded(style="z-index: -3000;")
                include ../emerald/components/elements/actionable/success

            div.text-center &copy; 2015 Emerald Inc. All Rights Reserved

block bottom
  script(type='text/javascript').
    $('#form-sign-in-demo').submit(function(e) {
      e.preventDefault();
      return false;
    });

    $('button[name="commit"]').on('click', function (e) {
      var form = $('#form-sign-in-demo');
      var form_data = form.serialize();

      e.preventDefault();

      $.post('/signin/', form_data).success(function (data) {
        url = "/";
        function go() { Turbolinks.visit(url); }
        setTimeout(go, 1000);
      }).error(function () {
        function setError() {
          $("#login_status").removeClass("hidden").html("Invalid user or password.");
          $(".actionable-contain").find("button.close").click();
        }
        setTimeout(setError, 1000);
      });
    });