div.actionable-contain
  button.close.pull-right(type='button') &times;
  br
  br
  h1.thin.text-success.text-center.actionable-animated-fadeInLeftSmall Verifying credentials
  br
  br
  div.progress
    div.progress-bar.progress-bar-success.progress-bar-striped.active(style="width: 100%;")
  br
  br
  p.text-center.actionable-animated-fadeInRightSmall You will be redirected soon...