doctype html
html.high(lang="en")
    head
        include emerald/header

    body.high.emerald-default.htmls.htmls_dashboard
        include emerald/jump_to
        include emerald/blank_modal
        
        div.oc-xs-push-push.oc-sm-squeeze-push.oc-md-squeeze-push.oc-lg-squeeze-push.modal-blur-content
            
            - var classes = ['oc-wrapper', 'oc-lg-open-left', 'oc-md-partial-left', 'oc-sm-partial-left'] 
            - classes.push(['oc-lg-left-squeeze', 'oc-md-left-squeeze', 'oc-sm-left-squeeze oc-xs-left-push', 'oc-lg-right-push'])
            - classes.push(['oc-md-right-push', 'oc-sm-right-push', 'oc-xs-right-push'])
            div#oc-wrapper(class=classes)
                
                div.oc-push.oc-scroll
                    aside#main-oc-sidebar-left.oc-sidebar.oc-sidebar-left.oc-sidebar-fixed.nano
                        div.nano-content
                            include emerald/sidebar
                        
                    div#main-oc-container.oc-container
                        include emerald/navbar
                        include emerald/breadcrumbs
                        block content
                        
                div.oc-sidebar.oc-sidebar-right.oc-sidebar-fixed
                    include ./chat/chat.jade
                
        div#mq
            
        div#emvars

        if skip_assets !== true
            script(type='text/javascript', src='/js/bundle.js')