doctype html
html.high(lang="en")
    head
        include emerald/header

    body.high.emerald-default
        block top
        include emerald/jump_to

        block content

        block bottom

        div#mq

        div#emvars